openapi: 3.0.3
info:
  x-logo:
    url: assets/logo-preview.png
  title: Kiln API
  description: |-
    This API provides reporting staking data on various protocols as
    well as network wide data, staking transaction crafting features
    and so on.

    ### ACCESS

    In order to use the Kiln API, you must first get an API token
    from your <a href="https://dashboard.kiln.fi/">Kiln dashboard</a>
    (applications section). If you don't have access to our dashboard,
    please get in touch at hello@kiln.fi.

    Once you have your API token, you can set it as a bearer token in
    your HTTP request headers, and target the Kiln API endpoint with
    the current MAJOR version of the API as a prefix to routes:

    <blockquote>
    curl "https://api.kiln.fi/v1/..." -H "Authorization: Bearer $KILN_API_TOKEN"
    </blockquote>

    <i>
    If you need a development environment, please reach out to
    hello@kiln.fi to have a specific access to our testnet environment
    and dedicated API endpoint.
    </i>

    ### VERSIONING

    Versions of the Kiln API use <b>MAJOR.MINOR.PATCH</b> where:

    - <b>MAJOR</b> version is increased when there is major
      incompatible API changes, major versions will be communicated in
      advance to all customers with a smooth transition path that
      spans over a minimum period of 3 MINOR versions or ~3
      months. <i>Intended frequency: 1 year</i>.
    - <b>MINOR</b> version is increased for backward compatible API
      changes without notice, or communicated breaking changes with a
      1 minor version notice and a smooth migration path. Minor
      versions will be communicated regularly to customers with the
      changelog. <i>Intended frequency: 1 month</i>.
    - <b>PATCH</b> version is increased for backward compatible
      hot-fixes, patch versions will be communicated to affected
      customers.

    <i>
    Due to the nature of blockchains (protocol disappearing,
    breaking protocol upgrades), Kiln may introduce
    backward-incompatible changes in MINOR versions after following
    a 1 MINOR version deprecation path (~1 month). These impacting
    changes will be narrowed as much as possible to the protocol,
    heavily communicated with clear guidelines and support. Customer
    not relying on affected protocols will not be affected.
    </i>

    ### BACKWARD COMPATIBILITY

    Kiln considers the following changes to be backward compatible:

    - Adding new API routes.
    - Adding new optional request parameters to existing API methods.
    - Adding new properties to existing API responses.
    - Changing the order of properties in existing API responses.
    - Adding new event types in existing enums.

    Non-breaking changes may be introduced in our API and subject to
    modification before being officialy communicated and documented
    here. Your application should not depend on them until part of
    this specification. The preview Kiln API specifications with
    upcoming and experimental new features can be found
    [here](/preview.html).

    ### REWARDS BEHAVIOR

    - No `start_date`: Returns rewards from validator activation date.
    - No `end_date`: Returns rewards up to yesterday.
  termsOfService: https://kiln.fi/
  contact:
    email: contact@kiln.fi
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: Preview
servers:
  - url: https://api.kiln.fi/v1
  - url: https://api.testnet.kiln.fi/v1
tags:
  - name: Accounts
    description: Manage your Kiln accounts. Accounts are like folders in which you can organize your stakes or clients' stakes. An account can contain stakes on multiple protocols.
  - name: Organizations
    description: Manage your Kiln organizations.
  - name: Babylon (BBN)
    description: Staking facilities for the Babylon protocol
  - name: Cardano (ADA)
    description: Staking facilities for the Cardano protocol
  - name: Celestia (TIA)
    description: Staking facilities for the Celestia protocol
  - name: Cosmos (ATOM)
    description: Staking facilities for the ATOM protocol
  - name: Cronos (CRO)
    description: Staking facilities for the Cronos protocol
  - name: DeFi
    description: Facilities for the DeFi protocols
  - name: Deployments
    description: Get deployments of the current organization
  - name: DyDx (DYDX)
    description: Staking facilities for the DYDX protocol
  - name: Ethereum (EigenLayer)
    description: ReStaking facilities for EigenLayer
  - name: Ethereum (ETH)
    description: Staking facilities for the Ethereum protocol
  - name: Ethereum (OnChain)
    description: Staking facilities for OnChain v1 & v2
  - name: Fetch.ai (FET)
    description: Staking facilities for the Fetch.IA protocol
  - name: Injective (INJ)
    description: Staking facilities for the Injective protocol
  - name: Kava (KAVA)
    description: Staking facilities for the Kava protocol
  - name: Kusama (KSM)
    description: Staking facilities for the Kusama protocol
  - name: Mantra (OM)
    description: Staking facilities for the Mantra protocol
  - name: MultiversX (EGLD)
    description: Staking facilities for the MultiversX protocol
  - name: Near (NEAR)
    description: Staking facilities for the Near protocol
  - name: Noble (NOBLE)
    description: Staking facilities for the Noble protocol
  - name: Osmosis (OSMO)
    description: Staking facilities for the OSMO protocol
  - name: Polkadot (DOT)
    description: Staking facilities for the Polkadot protocol
  - name: Polygon (MATIC)
    description: Deprecated endpoints that will be removed in a future version. Please use POL endpoints instead. Staking facilities for the Polygon protocol.
  - name: Polygon (POL)
    description: Staking facilities for the Polygon protocol
  - name: Positions
  - name: Solana (SOL)
    description: Staking facilities for the Solana protocol
  - name: Tezos (XTZ)
    description: Staking facilities for the Tezos protocol
  - name: The Open Network (TON)
    description: Staking facilities for the The Open Network protocol
  - name: Tron (TRX)
    description: Staking facilities for the Tron protocol
  - name: ZetaChain (ZETA)
    description: Staking facilities for the ZetaChain protocol
paths:
  /accounts:
    get:
      tags:
        - Accounts
      summary: Accounts
      description: Retrieve accounts in your organization
      operationId: getAccounts
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccountsResponse'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    post:
      tags:
        - Accounts
      summary: Accounts
      description: Create a new account in your organization
      operationId: postAccount
      requestBody:
        description: Account to create
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AccountPayload'
      responses:
        '201':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /accounts/{id}:
    get:
      tags:
        - Accounts
      summary: Account
      description: Retrieve an account in your organization
      operationId: getAccount
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      tags:
        - Accounts
      summary: Account
      description: Update an account in your organization
      operationId: putAccount
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        description: Account to update
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AccountPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      tags:
        - Accounts
      summary: Account
      description: Delete an account in your organization
      operationId: deleteAccount
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /accounts/{id}/portfolio:
    get:
      tags:
        - Accounts
      summary: Account Portfolio
      description: Retrieve an account asset portfolio. USD balances are calculated based on recent asset prices. We use CoinGecko API to retrieve asset prices. The data is cached for 24h but it is possible to get real time data by using the refresh parameter.
      operationId: getAccountPortfolio
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/RefreshParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Portfolio'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /accounts/{id}/reports:
    get:
      tags:
        - Accounts
      summary: Account Report
      description: Get report of the account's stakes.
      operationId: getAccountReports
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /organizations/{id}/portfolio:
    get:
      tags:
        - Organizations
      summary: Organization Portfolio
      description: Retrieve an organization asset portfolio. USD balances are calculated based on recent asset prices. We use CoinGecko API to retrieve asset prices. The data is cached for 24h but it is possible to get real time data by using the refresh parameter.
      operationId: getOrganizationPortfolio
      parameters:
        - $ref: '#/components/parameters/OrganizationIdParam'
        - $ref: '#/components/parameters/RefreshParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Portfolio'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /organizations/{id}/reports:
    get:
      tags:
        - Organizations
      summary: Organization Report
      description: Get report of the organization's stakes.
      operationId: getOrganizationReports
      parameters:
        - $ref: '#/components/parameters/OrganizationIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /deployments:
    get:
      tags:
        - Deployments
      summary: Deployments
      description: Get deployments of the current organization
      operationId: getDeployments
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/stakes:
    get:
      tags:
        - Ethereum (ETH)
      summary: Stakes
      description: Get the status of Ethereum stakes.
      operationId: getEthStakes
      parameters:
        - $ref: '#/components/parameters/ETHValidatorsParam'
        - $ref: '#/components/parameters/ETHScopeParam'
        - $ref: '#/components/parameters/ETHWalletsParam'
        - $ref: '#/components/parameters/ETHProxiesParam'
        - $ref: '#/components/parameters/ETHWithdrawalCredentialsParam'
        - $ref: '#/components/parameters/ETHValidatorIndexesParam'
        - $ref: '#/components/parameters/ETHIncludeEigenLayerParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/PaginationPageParam'
        - $ref: '#/components/parameters/PaginationPageSizeParam'
        - $ref: '#/components/parameters/FilterStatesParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHStake'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    post:
      tags:
        - Ethereum (ETH)
      summary: Create stakes
      description: Link ETH stakes to a Kiln account
      operationId: postEthStakes
      requestBody:
        description: Stakes to create
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/PostETHStakesPayload'
      responses:
        '201':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHStake'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/rewards:
    get:
      tags:
        - Ethereum (ETH)
      summary: Rewards
      description: Get historical rewards by day of Ethereum stakes
      operationId: getEthRewards
      parameters:
        - $ref: '#/components/parameters/ETHValidatorsParam'
        - $ref: '#/components/parameters/ETHScopeParam'
        - $ref: '#/components/parameters/ETHWalletsParam'
        - $ref: '#/components/parameters/ETHProxiesParam'
        - $ref: '#/components/parameters/ETHValidatorIndexesParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
        - $ref: '#/components/parameters/IncludeUSDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHReward'
              examples:
                rewards:
                  value:
                    data:
                      - date: 2023-01-15,
                        consensus_rewards: 2988504000000000,
                        execution_rewards: 0,
                        mev_execution_rewards: 0,
                        non_mev_execution_rewards: 0,
                        median_execution_reward: 0,
                        rewards: 2988504000000000,
                        stake_balance: 64000000000000000000,
                        gross_apy: 3.407,
                        cl_apy: 3.407,
                        el_apy: 0,
                        active_validator_count: 152636.33,
                        rewards_usd: 0,
                        stake_balance_usd: 0
                      - date: 2023-01-16,
                        consensus_rewards: 2954604000000000,
                        execution_rewards: 0,
                        mev_execution_rewards: 0,
                        non_mev_execution_rewards: 0,
                        median_execution_reward: 0,
                        rewards: 2954604000000000,
                        stake_balance: 64000000000000000000,
                        gross_apy: 3.407,
                        cl_apy: 3.407,
                        el_apy: 0,
                        active_validator_count: 152636.33,
                        rewards_usd: 0,
                        stake_balance_usd: 0
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/operations:
    get:
      tags:
        - Ethereum (ETH)
      summary: Operations
      description: Get the operations of Ethereum stakes
      operationId: getEthOperations
      parameters:
        - $ref: '#/components/parameters/ETHValidatorsParam'
        - $ref: '#/components/parameters/ETHWalletsParam'
        - $ref: '#/components/parameters/ETHProxiesParam'
        - $ref: '#/components/parameters/ETHValidatorIndexesParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/ETHOperationDeposit'
                        - $ref: '#/components/schemas/ETHOperationConsensusWithdrawal'
                        - $ref: '#/components/schemas/ETHOperationExecutionReward'
                        - $ref: '#/components/schemas/ETHOperationKilnExitRequest'
                        - $ref: '#/components/schemas/ETHOperationLidoExitRequest'
                        - $ref: '#/components/schemas/ETHOperationRioExitRequest'
                        - $ref: '#/components/schemas/ETHOperationVoluntaryExit'
                      discriminator:
                        propertyName: type
                        mapping:
                          deposit: '#/components/schemas/ETHOperationDeposit'
                          consensus_withdrawal: '#/components/schemas/ETHOperationConsensusWithdrawal'
                          execution_reward: '#/components/schemas/ETHOperationExecutionReward'
                          kiln_exit_request: '#/components/schemas/ETHOperationKilnExitRequest'
                          lido_exit_request: '#/components/schemas/ETHOperationLidoExitRequest'
                          rio_exit_request: '#/components/schemas/ETHOperationRioExitRequest'
                          voluntary_exit: '#/components/schemas/ETHOperationVoluntaryExit'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/network-stats:
    get:
      tags:
        - Ethereum (ETH)
      summary: Network Stats
      description: Get some network statistics on Ethereum staking.
      operationId: getEthNetworkStats
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHNetworkStats'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/kiln-stats:
    get:
      tags:
        - Ethereum (ETH)
      summary: Kiln Stats
      description: Get some Kiln statistics on Ethereum staking
      operationId: getEthKilnStats
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHKilnStats'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/keys:
    post:
      tags:
        - Ethereum (ETH)
      summary: Validation Keys
      description: |
        Create Ethereum native validation keys on Kiln's infrastructure.
      operationId: postEthKeys
      requestBody:
        description: Ethereum keys to generate
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ETHPostKeysPayload'
      responses:
        '201':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    anyOf:
                      - $ref: '#/components/schemas/ETHPostKeysCliResponse'
                      - $ref: '#/components/schemas/ETHPostKeysBatchResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/transaction/stake:
    post:
      tags:
        - Ethereum (ETH)
      summary: Stake Transaction
      description: Generates an Ethereum EIP 1559 stake transaction
      operationId: postEthStakeTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ETHCraftStakeTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/transaction/prepare:
    post:
      tags:
        - Ethereum (ETH)
      summary: Prepare Transaction
      description: Prepare an Ethereum transaction for broadcasting. It takes a serialized transaction and its signatures and returns a serialized signed transaction that can be broadcasted.
      operationId: postEthPrepareTx
      requestBody:
        description: Transaction to prepare
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ETHPrepareTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHSignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/transaction/broadcast:
    post:
      tags:
        - Ethereum (ETH)
      summary: Broadcast Transaction
      description: Broadcasts a signed Ethereum transaction
      operationId: postEthBroadcastTx
      requestBody:
        description: Transaction to broadcast
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ETHBroadcastTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ETHBroadcastedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/transaction/status:
    get:
      tags:
        - Ethereum (ETH)
      summary: Transaction Status
      description: Get the status of an Ethereum transaction
      operationId: getEthTxStatus
      parameters:
        - name: tx_hash
          in: query
          description: Hash of the transaction
          required: true
          style: form
          explode: false
          schema:
            type: string
            example: '0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ETHTxStatus'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/transaction/exit-request:
    post:
      tags:
        - Ethereum (ETH)
      summary: Request Exit
      description: Generates an Ethereum EIP 1559 request-exit transaction
      operationId: postEthRequestExitTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ETHCraftRequestExitTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/transaction/decode:
    get:
      tags:
        - Ethereum (ETH)
      summary: Transaction Decoding
      description: Decode a transaction
      operationId: getEthTxDecoding
      parameters:
        - name: tx_serialized
          in: query
          description: Raw transaction to decode
          required: true
          style: form
          explode: false
          schema:
            type: string
            example: 02f902dc058202978477359400847735940a830223d4945fadfdb7efffd3b4aa03f0f29d9200cf5f191f318901bc16d674ec800000b902a4ca0bfcce0000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000001a0000000000000000000000000000000000000000000000000000000000000026000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000003084eefa87510e735d0e6db65fde2c940517c197f252a0e40b90adf693d7198fa8c610a7b710b5fcaa54fe0dbbc87c0bb500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000020010000000000000000000000bc86717bad3f8ccf86d2882a6bc351c94580a994000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000060b15db0eddc3bdd62a10ec61ff120a6870d176b55249beab45223659547610e688195189e4f614447e68bfe055d903d1a0a74d82af486d01cfd75b9469fcdf776d99ef633ca3797c8670608a5f391f61694ae61f5573f79c90ea719fbe0d23c2d0000000000000000000000000000000000000000000000000000000000000001fb0c78163db38377fbe3e570d5a29ef4345b73087b9f60ec46a06589f6a6bb19c0808080
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                description: Decoded transaction
                example:
                  r: '0x0000000000000000000000000000000000000000000000000000000000000000'
                  s: '0x0000000000000000000000000000000000000000000000000000000000000000'
                  v: '27'
                  yParity: 0
                  chainId: 5
                  type: eip1559
                  to: '0x5fadfdb7efffd3b4aa03f0f29d9200cf5f191f31'
                  gas: '140244'
                  data: '0xca0bfcce0000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000001a0000000000000000000000000000000000000000000000000000000000000026000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000003084eefa87510e735d0e6db65fde2c940517c197f252a0e40b90adf693d7198fa8c610a7b710b5fcaa54fe0dbbc87c0bb500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000020010000000000000000000000bc86717bad3f8ccf86d2882a6bc351c94580a994000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000060b15db0eddc3bdd62a10ec61ff120a6870d176b55249beab45223659547610e688195189e4f614447e68bfe055d903d1a0a74d82af486d01cfd75b9469fcdf776d99ef633ca3797c8670608a5f391f61694ae61f5573f79c90ea719fbe0d23c2d0000000000000000000000000000000000000000000000000000000000000001fb0c78163db38377fbe3e570d5a29ef4345b73087b9f60ec46a06589f6a6bb19'
                  nonce: 663
                  value: '32000000000000000000'
                  maxFeePerGas: '2000000010'
                  maxPriorityFeePerGas: '2000000000'
                  functionName: batchDeposit
                  args:
                    - - '0x84eefa87510e735d0e6db65fde2c940517c197f252a0e40b90adf693d7198fa8c610a7b710b5fcaa54fe0dbbc87c0bb5'
                    - - '0x010000000000000000000000bc86717bad3f8ccf86d2882a6bc351c94580a994'
                    - - '0xb15db0eddc3bdd62a10ec61ff120a6870d176b55249beab45223659547610e688195189e4f614447e68bfe055d903d1a0a74d82af486d01cfd75b9469fcdf776d99ef633ca3797c8670608a5f391f61694ae61f5573f79c90ea719fbe0d23c2d'
                    - - '0xfb0c78163db38377fbe3e570d5a29ef4345b73087b9f60ec46a06589f6a6bb19'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/reports:
    get:
      tags:
        - Ethereum (ETH)
      summary: Excel Reports
      description: Generates an Excel report sheet for your stakes and rewards
      operationId: getEthReports
      parameters:
        - $ref: '#/components/parameters/ETHValidatorsParam'
        - $ref: '#/components/parameters/ETHWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/exit-messages:
    get:
      tags:
        - Ethereum (ETH)
      summary: Exit Messages
      description: Get encrypted exit message for a validator
      operationId: getExitMessage
      parameters:
        - $ref: '#/components/parameters/ETHValidatorsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHExitMessage'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/eigenpod:
    get:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer EigenPod
      description: Get the EigenPod of the given wallet
      operationId: getEigenLayerEigenPod
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerRequiredWalletParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    example: '0x991c468AbcE2b4DD627a6210C145373EbABdd186'
                    description: The EigenPod address of the given wallet
                    type: string
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/operator:
    get:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Operator
      description: Get information about an EigenLayer Operator
      operationId: getEigenLayerOperator
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerOperatorParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHEigenLayerOperator'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/summary:
    get:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Summary
      description: Get a summary of your wallet on EigenLayer
      operationId: getEigenLayerSummary
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerWalletParam'
        - $ref: '#/components/parameters/ETHEigenLayerEigenPodParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHEigenLayerSummary'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/avs-rewards:
    get:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer AVS rewards
      description: Get the claimable AVS rewards of a wallet
      operationId: getEigenLayerAvsRewards
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerRequiredWalletParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHEigenLayerAvsReward'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/native/points:
    get:
      deprecated: true
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Native Points
      description: Get restaked points of your EigenPod
      operationId: getEigenLayerNativePoints
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerWalletParam'
        - $ref: '#/components/parameters/ETHEigenLayerEigenPodParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHEigenLayerNativePoints'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/native/undelegations:
    get:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Native Undelegations
      description: Get undelegations of your EigenPod
      operationId: getEigenLayerNativeUndelegations
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerWalletParam'
        - $ref: '#/components/parameters/ETHEigenLayerEigenPodParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHEigenLayerNativeUndelegation'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/liquid/points:
    get:
      deprecated: true
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Liquid Points
      description: Get restaked points of your Liquid Staking Tokens
      operationId: getEigenLayerLiquidPoints
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerRequiredWalletParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHEigenLayerLiquidPoints'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/liquid/deposits:
    get:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Liquid Deposits
      description: Get deposits of Liquid staking tokens on EigenLayer
      operationId: getEigenLayerLiquidDeposits
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerRequiredWalletParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHEigenLayerLiquidDeposit'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/liquid/withdrawals:
    get:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Liquid Withdrawals
      description: Get withdrawals of your Liquid Staking Tokens
      operationId: getEigenLayerWithdrawals
      parameters:
        - $ref: '#/components/parameters/ETHEigenLayerRequiredWalletParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHEigenLayerLiquidWithdrawal'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/transaction/claim-rewards:
    post:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Generate Claim Rewards Transaction
      description: Craft a processClaim transaction to retrieve AVS rewards
      operationId: postEigenLayerClaimRewardsTx
      requestBody:
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              type: object
              required:
                - earner_address
              properties:
                earner_address:
                  description: Address that earned the rewards
                  type: string
                  example: '0x11ed089a9715aDB1e294A73f4e8C40A7a455b6d3'
                receiver_address:
                  description: Address that will receive the rewards, if not provided, the `earner_address` will be used.
                  type: string
                  example: '0x11ed089a9715aDB1e294A73f4e8C40A7a455b6d3'
                token_addresses:
                  description: Array of ERC20 token addresses for which you have unclaimed rewards. If not provided, we will automatically process all tokens with rewards available to you.
                  example:
                    - '0x0E859E11bD289e8983f4E78f3503b26F192A7a95'
                    - '0x3B78576F7D6837500bA3De27A60c7f594934027E'
                  type: array
                  items:
                    type: string
                    description: ERC20 token address
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHUnsignedTx'
        '400':
          description: Invalid parameters or No rewards to claim
          content:
            application/json; charset=utf-8:
              example:
                message: No rewards to claim.
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/transaction/verify-checkpoint-proofs:
    post:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Generate Checkpoint Proofs Transaction
      description: Craft a verifyCheckpointProofs transaction to verify the given validators
      operationId: postEigenLayerVerifyCheckpointProofsTx
      requestBody:
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              type: object
              required:
                - wallet
              properties:
                wallet:
                  description: Address of the EigenPod owner
                  type: string
                  example: '0x7fF0B7D8b99E4cD685355A786B6ad5287B6552C1'
                validator_indexes:
                  description: Array of validator indexes to process, they must have their `withdrawal_credentials` pointed to the EigenPod of the given `wallet`. If not provided, all validators with `withdrawal_credentials` pointed to the EigenPod of the provided `wallet` will be processed
                  example:
                    - 1659766
                    - 1659767
                  type: array
                  items:
                    type: integer
                    description: Validator index
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHUnsignedTx'
        '400':
          description: Invalid parameters or No more checkpoint proofs to process
          content:
            application/json; charset=utf-8:
              example:
                message: No checkpoint proofs to process.
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/eigenlayer/transaction/verify-withdrawal-credentials:
    post:
      tags:
        - Ethereum (EigenLayer)
      summary: EigenLayer Restake Transaction
      description: Craft a verifyWithdrawalCredentials transaction to restake the given validators
      operationId: postEigenLayerVerifyWithdrawalCredentialsTx
      requestBody:
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              type: object
              required:
                - wallet
              properties:
                wallet:
                  description: Address of the EigenPod owner
                  type: string
                  example: '0x7fF0B7D8b99E4cD685355A786B6ad5287B6552C1'
                validator_indexes:
                  description: Array of validator indexes to restake, they must have their `withdrawal_credentials` pointed to the EigenPod of the given wallet. If not provided, all validators with `withdrawal_credentials` pointed to the provided EigenPod will be processed
                  type: array
                  items:
                    type: integer
                    description: Validator index
                    example: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /defi/stakes:
    get:
      tags:
        - DeFi
      summary: Stakes
      description: Get stakes of wallets on the given vaults
      operationId: getDefiStakes
      parameters:
        - $ref: '#/components/parameters/DefiWalletParam'
        - $ref: '#/components/parameters/DefiVaultsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DefiStake'
        '401':
          description: Unauthorized
        '422':
          description: Invalid parameters
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                    example: 'The vaults.0 is invalid. It should be in the format: <network>_<address>.'
                  errors:
                    type: object
                    description: Details of all the errors
                    example:
                      vaults.0:
                        - 'The vaults.0 is invalid. It should be in the format: <network>_<address>.'
        '500':
          description: Internal server error
  /defi/operations:
    get:
      tags:
        - DeFi
      summary: Operations
      description: Get operations of wallets on the given vaults
      operationId: getDefiOperations
      parameters:
        - $ref: '#/components/parameters/DefiWalletParam'
        - $ref: '#/components/parameters/DefiVaultsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    example:
                      - type: deposit
                        assets: '1000000'
                        shares: '996951'
                        sender: '0x9d94BF9DE2f770645186814556eA3C080E68D2F4'
                        timestamp: '2024-06-12T11:37:48+00:00'
                        tx_hash: '0xae6cd6c0180dc7ea54f7ef701c20d6d7c30533e7030485f6b720284a13e00da3'
                        vault: '0x682cFC8A3d956FBA2c40791ec8d5a49E13BAaFbD'
                        owner: '0x9d94BF9DE2f770645186814556eA3C080E68D2F4'
                        chain: eth
                      - type: withdrawal
                        assets: '1000000000'
                        shares: '996995364'
                        sender: '0x821B6341bEC60Cb276fBc5E7E25d68D1ca14b180'
                        timestamp: '2024-06-11T18:43:12+00:00'
                        tx_hash: '0x6f26fdfad5b13a79dcfd2f8b1fcfe59c411a6d3ea411902f8abd217199302635'
                        vault: '0x682cFC8A3d956FBA2c40791ec8d5a49E13BAaFbD'
                        owner: '0x821B6341bEC60Cb276fBc5E7E25d68D1ca14b180'
                        chain: eth
                    items:
                      $ref: '#/components/schemas/DefiOperation'
        '401':
          description: Unauthorized
        '422':
          description: Invalid parameters
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                    example: 'The vaults.0 is invalid. It should be in the format: <network>_<address>.'
                  errors:
                    type: object
                    description: Details of all the errors
                    example:
                      vaults.0:
                        - 'The vaults.0 is invalid. It should be in the format: <network>_<address>.'
        '500':
          description: Internal server error
  /defi/network-stats:
    get:
      tags:
        - DeFi
      summary: Network Stats
      description: Get network stats of the given vaults
      operationId: getDefiNetworkStats
      parameters:
        - $ref: '#/components/parameters/DefiVaultsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DefiNetworkStats'
        '401':
          description: Unauthorized
        '422':
          description: Invalid parameters
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                    example: 'The vaults.0 is invalid. It should be in the format: <network>_<address>.'
                  errors:
                    type: object
                    description: Details of all the errors
                    example:
                      vaults.0:
                        - 'The vaults.0 is invalid. It should be in the format: <network>_<address>.'
        '500':
          description: Internal server error
  /eth/onchain/v1/keys:
    post:
      tags:
        - Ethereum (OnChain)
      summary: Validation On-Chain V1 Keys
      description: |
        Create Ethereum validation keys for the Kiln On-Chain V1
        smart-contract suite. This route is for Ethereum operators
        only of the Kiln On-Chain V1 smart-contract. Use `/v1/eth/keys`
        if you want to use classic native staking.
      operationId: postEthOnChainKeys
      requestBody:
        description: Ethereum keys to generate
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ETHPostKeysOnChainPayload'
      responses:
        '201':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ETHPostKeysCliResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/onchain/v2/keys:
    post:
      tags:
        - Ethereum (OnChain)
      summary: Validation On-Chain V2 Keys
      description: |
        Create Ethereum validation keys for the Kiln On-Chain V2
        smart-contract suite. This route is for Ethereum operators
        only of the Kiln On-Chain V2 (vSuite) smart-contract of type vNFT. Use `/v1/eth/keys` if
        you want to use  Kiln On-Chain V2 of type vPool (ERC20) or classic native staking.
      operationId: postEthVSuiteKeys
      requestBody:
        description: Ethereum keys to generate on withdrawal channel 0 (vNFT) of the vSuite contract
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ETHPostKeysVSuitePayload'
      responses:
        '201':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ETHPostKeysCliResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/onchain/v2/stakes:
    get:
      tags:
        - Ethereum (OnChain)
      summary: On-Chain V2 Stakes
      description: Get the status of Ethereum OnChain V2 (vSuite) stakes
      operationId: getEthOnchainV2Stakes
      parameters:
        - $ref: '#/components/parameters/ETHWalletsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHOnchainV2Stake'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/onchain/v2/operations:
    get:
      tags:
        - Ethereum (OnChain)
      summary: On-Chain V2 Operations
      description: Get the operations of Ethereum OnChain V2 (vSuite) operations
      operationId: getEthOnchainV2Operations
      parameters:
        - $ref: '#/components/parameters/ETHWalletsParam'
        - $ref: '#/components/parameters/ETHOnChainOperationIDs'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHOnchainV2Operation'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/onchain/v2/rewards:
    get:
      tags:
        - Ethereum (OnChain)
      summary: On-Chain V2 Rewards
      description: Get historical rewards of Ethereum OnChain V2 (vSuite) daily rewards
      operationId: getEthOnchainV2Rewards
      parameters:
        - $ref: '#/components/parameters/ETHWalletsParam'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
        - $ref: '#/components/parameters/IncludeUSDParam'
        - $ref: '#/components/parameters/ETHOnChainIntegrationParam'
          required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHOnchainV2Reward'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/onchain/v2/network-stats:
    get:
      tags:
        - Ethereum (OnChain)
      summary: On-Chain V2 Network Stats
      description: Get the network stats of Ethereum OnChain V2 (vSuite) integration
      operationId: getEthOnchainV2NetworkStats
      parameters:
        - $ref: '#/components/parameters/ETHOnChainIntegrationParam'
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ETHOnchainV2NetworkStats'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /eth/onchain/v2/exit-tickets:
    get:
      tags:
        - Ethereum (OnChain)
      summary: On-Chain V2 Exit Tickets
      description: Get the exit tickets of Ethereum OnChain V2 (vSuite) integration
      operationId: getEthOnchainV2ExitTickets
      parameters:
        - $ref: '#/components/parameters/ETHWalletsParam'
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ETHOnchainV2ExitTicket'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/stakes:
    get:
      tags:
        - Tezos (XTZ)
      summary: Stakes
      description: Get the status of Tezos stakes
      operationId: getXtzStakes
      parameters:
        - $ref: '#/components/parameters/XTZWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/XTZValidatorsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/XTZStake'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/rewards:
    get:
      tags:
        - Tezos (XTZ)
      summary: Rewards
      description: Get historical rewards of Tezos stakes
      operationId: getXtzRewards
      parameters:
        - $ref: '#/components/parameters/XTZWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/XTZValidatorsParam'
        - $ref: '#/components/parameters/XTZRewardsFormatParam'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
        - $ref: '#/components/parameters/XTZStartCycleParam'
        - $ref: '#/components/parameters/XTZEndCycleParam'
        - $ref: '#/components/parameters/IncludeUSDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/XTZRewardByDay'
                        - $ref: '#/components/schemas/XTZRewardByCycle'
              examples:
                rewards:
                  value:
                    data:
                      - date: '2023-01-15'
                        rewards: '27098488'
                        active_balance: '420000000000'
                        staked_rewards: '1278500'
                        staked_balance: '1500000000'
                        net_apy: 3.42
                        rewards_usd: '12'
                        stake_balance_usd: '25400'
                      - date: '2023-01-16'
                        rewards: '27098498'
                        active_balance: '420000000000'
                        staked_rewards: '1347910'
                        staked_balance: '1501278500'
                        net_apy: 3.4
                        rewards_usd: '13'
                        stake_balance_usd: '25412'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/operations:
    get:
      tags:
        - Tezos (XTZ)
      summary: Operations
      description: Get historical operations of Tezos stakes
      operationId: getXtzOperations
      parameters:
        - $ref: '#/components/parameters/XTZWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/XTZValidatorsParam'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/XTZOperationDelegate'
                        - $ref: '#/components/schemas/XTZOperationUndelegate'
                        - $ref: '#/components/schemas/XTZOperationActivation'
                        - $ref: '#/components/schemas/XTZOperationPayment'
                        - $ref: '#/components/schemas/XTZOperationStake'
                        - $ref: '#/components/schemas/XTZOperationUnstake'
                        - $ref: '#/components/schemas/XTZOperationFinalize'
                      discriminator:
                        propertyName: type
                        mapping:
                          delegate: '#/components/schemas/XTZOperationDelegate'
                          undelegate: '#/components/schemas/XTZOperationUndelegate'
                          activation: '#/components/schemas/XTZOperationActivation'
                          payment: '#/components/schemas/XTZOperationPayment'
                          stake: '#/components/schemas/XTZOperationStake'
                          unstake: '#/components/schemas/XTZOperationUnstake'
                          finalize: '#/components/schemas/XTZOperationFinalize'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/network-stats:
    get:
      tags:
        - Tezos (XTZ)
      summary: Network Stats
      description: Get some network statistics on Tezos staking
      operationId: getXtzNetworkStats
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZNetworkStats'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/reports:
    get:
      tags:
        - Tezos (XTZ)
      summary: Excel Reports
      description: Generates an Excel report sheet for your stakes and rewards
      operationId: getXtzReports
      parameters:
        - $ref: '#/components/parameters/XTZWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/delegate:
    post:
      tags:
        - Tezos (XTZ)
      summary: Delegate Transaction
      description: Generates a delegate transaction on Tezos
      operationId: postXtzDelegateTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/XTZCraftDelegateTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/undelegate:
    post:
      tags:
        - Tezos (XTZ)
      summary: Undelegate Transaction
      description: Generates an undelegate transaction on Tezos
      operationId: postXtzUndelegateTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/XTZCraftUndelegateTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/stake:
    post:
      tags:
        - Tezos (XTZ)
      summary: Stake Transaction
      description: Generates a stake transaction on Tezos. You must delegate to a baker accepting external stakes prior to use this endpoint. Staked tezos remain in your wallet but are frozen for staking purposes and subject to slashing.
      operationId: postXtzStakeTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/XTZCraftStakeTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/unstake:
    post:
      tags:
        - Tezos (XTZ)
      summary: Unstake Transaction
      description: Generates an unstake transaction on Tezos. Your unstaked balance remains locked for 4 cycles. After this period, you can unlock your funds by calling /v1/xtz/transaction/finalize-unstake.
      operationId: postXtzUnStakeTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/XTZCraftUnstakeTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/finalize-unstake:
    post:
      tags:
        - Tezos (XTZ)
      summary: Finalize Unstake Transaction
      description: Generates a finalize unstake transaction on Tezos. This transaction unlocks your unstaked tezos after the 4 cycles lock period.
      operationId: postXtzFinalizeUnstakeTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/XTZCraftUndelegateTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZUnsignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/prepare:
    post:
      tags:
        - Tezos (XTZ)
      summary: Prepare Transaction
      description: Prepare a Tezos transaction for broadcasting. It takes a serialized transaction and its signatures and returns a serialized signed transaction that can be broadcasted.
      operationId: postXtzPrepareTx
      requestBody:
        description: Transaction to prepare
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/XTZPrepareTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZSignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/broadcast:
    post:
      tags:
        - Tezos (XTZ)
      summary: Broadcast Transaction
      description: Broadcasts a signed Tezos transaction
      operationId: postXtzBroadcastTx
      requestBody:
        description: Transaction to broadcast
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/XTZBroadcastTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZBroadcastedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/status:
    get:
      tags:
        - Tezos (XTZ)
      summary: Transaction Status
      description: Get the status of a Tezos transaction
      operationId: getXtzTxStatus
      parameters:
        - name: tx_hash
          in: query
          description: Hash of the transaction
          required: true
          style: form
          explode: false
          schema:
            type: string
            example: '0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94'
        - name: block_number
          in: query
          description: Block number in which the transaction was included
          required: true
          style: form
          explode: false
          schema:
            type: string
            example: '2344324'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/XTZTxStatus'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /xtz/transaction/decode:
    get:
      tags:
        - Tezos (XTZ)
      summary: Transaction Decoding
      description: Decode a Tezos transaction
      operationId: getXtzTxDecoding
      parameters:
        - name: tx_serialized
          in: query
          description: Raw transaction to decode
          required: true
          style: form
          explode: false
          schema:
            type: string
            example: a67058acc52080bb8ab4f4d0c3e08bab1484a6799c216d43fdff0a8aa445e7146e00566eaa0198f3df9230489abd1a64f5ef9b98b270940ac4cb9807f44e00ff00344c5e59a1de5370e1cee5d2fcf706a649bba15b
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                description: Decoded transaction
                example:
                  branch: BLyanvyskrD6KrZaxh7TNp9EfUaHUUnqRRKMFirvrfmu2qcQkB4
                  contents:
                    - kind: delegation
                      source: tz1TX3Nh6h6js1VxXCuQ7rAF7LoGpd81FSw3
                      fee: '1300'
                      counter: '15082948'
                      gas_limit: '10100'
                      storage_limit: '0'
                      delegate: tz1QQZKGt3ouyd7x8JUDwcvRyxzsmD7CFbMd
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/stakes:
    get:
      tags:
        - Solana (SOL)
      summary: Stakes
      description: Get the status of Solana stakes
      operationId: getSolStakes
      parameters:
        - $ref: '#/components/parameters/SOLStakeAccountsParam'
        - $ref: '#/components/parameters/SOLValidatorsParam'
        - $ref: '#/components/parameters/SOLWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SOLStake'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    post:
      tags:
        - Solana (SOL)
      summary: Create stakes
      description: Create Solana stakes and linked them to a Kiln account
      operationId: postSolStakes
      requestBody:
        description: Stakes to create
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLPostStakesPayload'
      responses:
        '201':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CoreStake'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/rewards:
    get:
      tags:
        - Solana (SOL)
      summary: Rewards
      description: Get historical rewards of Solana stakes
      operationId: getSolRewards
      parameters:
        - $ref: '#/components/parameters/SOLStakeAccountsParam'
        - $ref: '#/components/parameters/SOLValidatorsParam'
        - $ref: '#/components/parameters/SOLWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/SOLRewardsFormatParam'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
        - $ref: '#/components/parameters/SOLStartEpochParam'
        - $ref: '#/components/parameters/SOLEndEpochParam'
        - $ref: '#/components/parameters/IncludeUSDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/SOLRewardByEpoch'
                        - $ref: '#/components/schemas/SOLRewardByDay'
              examples:
                rewards:
                  value:
                    data:
                      - date: '2023-01-15'
                        rewards: '3575891083876864200000'
                        active_balance: '6300000000000000000000000'
                        gross_mev_rewards: '11542454895'
                        mev_commission: '869533'
                        net_apy: 3.42
                      - date: '2023-01-16'
                        rewards: '3575891083876864200000'
                        gross_mev_rewards: '11642454895'
                        mev_commission: '869533'
                        active_balance: '6300000000000000000000000'
                        net_apy: 3.4
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/operations:
    get:
      tags:
        - Solana (SOL)
      summary: Operations
      description: Get the operations of Solana stakes
      operationId: getSolOperations
      parameters:
        - $ref: '#/components/parameters/SOLStakeAccountsParam'
        - $ref: '#/components/parameters/SOLValidatorsParam'
        - $ref: '#/components/parameters/SOLWalletsParam'
        - $ref: '#/components/parameters/AccountsParam'
        - $ref: '#/components/parameters/StartDateParam'
        - $ref: '#/components/parameters/EndDateParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/SOLOperationCreateAccountWithSeed'
                        - $ref: '#/components/schemas/SOLOperationCreateAccount'
                        - $ref: '#/components/schemas/SOLOperationDelegate'
                        - $ref: '#/components/schemas/SOLOperationDeactivate'
                        - $ref: '#/components/schemas/SOLOperationRedelegate'
                        - $ref: '#/components/schemas/SOLOperationSplit'
                        - $ref: '#/components/schemas/SOLOperationWithdraw'
                        - $ref: '#/components/schemas/SOLOperationMerge'
                      discriminator:
                        propertyName: type
                        mapping:
                          create_account_with_seed: '#/components/schemas/SOLOperationCreateAccountWithSeed'
                          create_account: '#/components/schemas/SOLOperationCreateAccount'
                          delegate: '#/components/schemas/SOLOperationDelegate'
                          deactivate: '#/components/schemas/SOLOperationDeactivate'
                          redelegate: '#/components/schemas/SOLOperationRedelegate'
                          split: '#/components/schemas/SOLOperationSplit'
                          withdraw: '#/components/schemas/SOLOperationWithdraw'
                          merge: '#/components/schemas/SOLOperationMerge'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/network-stats:
    get:
      tags:
        - Solana (SOL)
      summary: Network Stats
      description: Get some network statistics on Solana staking
      operationId: getSolNetworkStats
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLNetworkStats'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/reports:
    get:
      tags:
        - Solana (SOL)
      summary: Reports
      description: Get reports on Solana staking
      operationId: getSolReports
      parameters:
        - $ref: '#/components/parameters/SOLStakeAccountsParam'
        - $ref: '#/components/parameters/SOLWalletsParam'
        - $ref: '#/components/parameters/SOLValidatorsParam'
        - $ref: '#/components/parameters/AccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/nonce-account:
    get:
      tags:
        - Solana (SOL)
      summary: Nonce Account
      description: Get Kiln nonce account details. This can be used to partially sign transactions with a durable nonce.
      operationId: getSolNonceAccount
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLNonceAccount'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/stake:
    post:
      tags:
        - Solana (SOL)
      summary: Stake Transaction
      description: Craft a stake transaction. This results in a new stake account created with the amount given.
      operationId: postSolStakeTx
      requestBody:
        description: Stake transaction to create
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLStakeTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLStakeTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/deactivate-stake:
    post:
      tags:
        - Solana (SOL)
      summary: Deactivate Stake Transaction
      description: Craft a deactivate stake account transaction.
      operationId: postSolDeactivateStakeTx
      requestBody:
        description: Stake to deactivate
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLDeactivateStakeTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLStakeTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/withdraw-stake:
    post:
      tags:
        - Solana (SOL)
      summary: Withdraw Stake Transaction
      description: Craft a withdraw stake transaction.
      operationId: postSolWithdrawStakeTx
      requestBody:
        description: Stake to withdraw
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLWithdrawStakeTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLStakeTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/merge-stakes:
    post:
      tags:
        - Solana (SOL)
      summary: Merge Stakes Transaction
      description: Craft a merge stakes transaction.
      operationId: postSolMergeStakesTx
      requestBody:
        description: Stakes to merge
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLMergeStakesTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLStakeTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/split-stake:
    post:
      tags:
        - Solana (SOL)
      summary: Split Stake Transaction
      description: Craft a solana split stake transaction
      operationId: postSolSplitStakeTx
      requestBody:
        description: Stake to split
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLSplitStakeTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLStakeTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/prepare:
    post:
      tags:
        - Solana (SOL)
      summary: Prepare Transaction
      description: Prepare an unsigned transaction for broadcast by adding signatures to it
      operationId: postSolPrepareTx
      requestBody:
        description: Transaction to sign
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLPrepareTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLPreparedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/broadcast:
    post:
      tags:
        - Solana (SOL)
      summary: Broadcast Transaction
      description: Broadcast a serialized signed transaction to the blockchain
      operationId: postSolBroadcastTx
      requestBody:
        description: Signed transaction to broadcast
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/SOLBroadcastTxPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLBroadcastTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/status:
    get:
      tags:
        - Solana (SOL)
      summary: Transaction Status
      description: Get the status of a transaction
      operationId: getSolTxStatus
      parameters:
        - name: tx_hash
          in: query
          description: Hash of the transaction
          required: true
          style: form
          explode: false
          schema:
            type: string
            example: '0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94'
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SOLTxStatus'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /sol/transaction/decode:
    get:
      tags:
        - Solana (SOL)
      summary: Transaction Decoding
      description: Decode a transaction
      operationId: getSolTxDecoding
      parameters:
        - name: tx_serialized
          in: query
          description: Raw transaction to decode
          required: true
          style: form
          explode: false
          schema:
            type: string
            example: 030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000061d1b66df290eb088227c3d92fb617046083673fb018071cae9c0f507b372fec0a5c45e0b43d46fb8a092f7fdcec2c52070497c1b1d681d17f33ee4324538a07deabe78a609fdf76d0f11d2006314cc98fa78f58e90c42d45bf3d36f24748b613eed28a1bb6142c79819b56f7e8fdac39fbb5af683de240d62837db99aa4a00a0301080c373c6f8e84c6822a9f87035f65cccf899eef3fcdee61077041a93e1805bab24e15580b7b08f8a771c463905b0ece9f9fc642deef72b67f65954c920e801d602651f5f3871e65b84cc393458d0f23a413184cf2bb7093ae4e2c99d55b39a575c5f98e3135fcb53e71e6fafcb4da3a3cc36af1c76a1a7e72aa12eae1346d724c6c00000000000000000000000000000000000000000000000000000000000000004792650d1e9a4fe99721617c7d47c8712c14c20a76bf043368c6528c9090531a06a1d8179137542a983437bdfe2a7ab2557f535c8a78722b68a49dc00000000006a1d817a502050b680791e6ce6db88e1e5b7150f61fc6790a4eb4d10000000006a7d51718c774c928566398691d5eb68b5eb8a39b4b6d5c73555b210000000006a7d517192c568ee08a845f73d29788cf035c3145b21ab344d8062ea940000006a7d517192c5c51218cc94c3d4af17f58daee089ba1fd44e3dbd98a0000000006a7d517193584d0feed9bb3431d13206be544281b57b8566cc5375ff40000008cb7df03f52969a55bab8272195daca0b8619b10db0dffa05572f3ea636dfadd04040303090204040000000402000134000000000080c6a47e8d0300c80000000000000006a1d8179137542a983437bdfe2a7ab2557f535c8a78722b68a49dc0000000000602010a7400000000373c6f8e84c6822a9f87035f65cccf899eef3fcdee61077041a93e1805bab24e373c6f8e84c6822a9f87035f65cccf899eef3fcdee61077041a93e1805bab24e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006060105080b07000402000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                description: Decoded transaction
                example:
                  recentBlockhash: AUJhGWuM8vPH4qv8uFH8G4WQeYZDbWDKK7mkqVtDVNyz
                  feePayer: 4icse2mPXNgyxxn11tVM7sTnSqDqwJSEzdnaCQnRzvA9
                  nonceInfo: null
                  instructions:
                    - keys:
                        - pubkey: HoAGnvTdp4Qgrq3NWtNQFS6FixasBhLqui23Seq7riSw
                          isSigner: false
                          isWritable: true
                        - pubkey: SysvarRecentB1ockHashes11111111111111111111
                          isSigner: false
                          isWritable: false
                        - pubkey: 6WwYZH8zdqF7kELtRfo1yAnvD1wvXwTg4m1jBhUCqC68
                          isSigner: true
                          isWritable: false
                      programId: '11111111111111111111111111111111'
                      data:
                        - 4
                        - 0
                        - 0
                        - 0
                    - keys:
                        - pubkey: 4icse2mPXNgyxxn11tVM7sTnSqDqwJSEzdnaCQnRzvA9
[...]
